.heads{
    display: flex;
    flex-direction: row;
    flex:1;
}
#container{
    margin: auto;
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
}
.element{
    flex:1;
}